@import "tailwindcss";

#albumsForYou::-webkit-scrollbar {
  height: 6px;
}

#albumsForYou::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 999px;
}

#albumsForYou::-webkit-scrollbar-track {
  background: transparent;
}

.app-container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

/* scrollbar chung cho slider */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px; /* mảnh */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* bỏ nền trắng */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}
